
/* Estilos para el formulario */
.form-container {
    margin-top: 50px;
}

/* Estilos para el título */
.custom-heading {
    text-align: center;
    font-family: 'Arial', sans-serif;
    color: #333; /* Color de texto negro */
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 28px;
    text-transform: uppercase; /* Convertir texto a mayúsculas */
    letter-spacing: 1px; /* Espaciado entre letras */
}
body {
margin-bottom: 150px; /* Ensure the body has space at the bottom */
}

.footer {
background-color: #255E1A; /* Matching header color */
color: white;
padding: 20px 0;
text-align: center;
border-top: 2px solid #1E4A15; /* Slightly darker shade */
position: fixed;
bottom: 0;
width: 100%;
font-family: 'Arial', sans-serif;
font-size: 14px;
}

.footer-content {
display: flex;
justify-content: space-between;
max-width: 1200px;
margin: 0 auto;
padding: 0 20px;
}

.footer-column {
flex: 1;
padding: 0 10px;
line-height: 1.6;
}

.footer-column p {
margin: 5px 0;
}
h2 {
    text-align: center; /* Centrar texto */
    margin-top: 20px; /* Margen superior */
    font-family: Arial, sans-serif; /* Fuente */
    color: #4CAF50; /* Color verde */
    border-bottom: 2px solid #81C784; /* Borde inferior verde más claro */
    padding-bottom: 10px; /* Padding inferior */
    margin-bottom: 20px; /* Margen inferior para separación reducido */
}
.btn {
    font-size: 20px; /* Aumentar el tamaño de la fuente */
    padding: 15px 30px; /* Aumentar el padding interno */
    margin-top: 20px; /* Espacio entre los botones */
}
.menu-button {
    display: block; /* Mostrar como bloque */
    margin: 20px auto; /* Margen superior e inferior automático */
    width: 100%; /* Ancho completo */
    max-width: 400px; /* Ancho máximo */
    height: 60px; /* Altura */
    font-size: 20px; /* Tamaño de fuente */
    text-align: center; /* Centrar texto */
}